body
{
    font-family: cursive;
}
.heading_name
{
  width:100%;
  text-align: left;    
}
.heading_name h3
{
  display: inline;

}
.heading_name button
{
    float:right;
    border-style: groove;
    border-radius: 5px;
    border-color: aqua;
    border-width: 4px;
}

.mario_img
{
    width:100%;
}

#start_button,#status_label
{
    font-size: 22px;
}

#copy
{
  background-color: rgba(181, 202, 185, 0.92);
  color: aliceblue;;
  line-height: 2;
  margin:0px;  
}
.modal-dialog
{
  width:90%;
}
.switch_img
{
  display: inline-block;
  width:45%;
  
}
video
{
  background: url("game_console.png");
  background-size: cover;
  background-position: center;
  padding:26px;
}